= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'new_user gl-show-field-errors', 'aria-live' => 'assertive'}) do |f|
  .form-group
    = f.label "Username or email", for: "user_login", class: 'label-bold'
    = f.text_field :login, class: "form-control top qa-login-field", autofocus: "autofocus", autocapitalize: "off", autocorrect: "off", required: true, title: "This field is required."
  .form-group
    = f.label :password, class: 'label-bold'
    = f.password_field :password, class: "form-control bottom qa-password-field", required: true, title: "This field is required."
  - if devise_mapping.rememberable?
    .remember-me
      %label{ for: "user_remember_me" }
        = f.check_box :remember_me, class: 'remember-me-checkbox'
        %span Remember me
      .float-right.forgot-password
        = link_to "Forgot your password?", new_password_path(:user)
    %div
    - if captcha_enabled? || captcha_on_login_required?
      = recaptcha_tags

  .submit-container.move-submit-down
    = f.submit "Sign in", class: "btn btn-success qa-sign-in-button"
